@bg-color1: #1b65bb;
@bg-color2: #d02525;

.about-heading {
  color: white;
  text-align: center;
  font-size: 1.45vw;
}

.img-card {
  width: 35%;
}

.gradient-custom {
  /* fallback for old browsers */
  background: @bg-color1;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, @bg-color1, @bg-color2);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, @bg-color1, @bg-color2)
}
