.gamecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .status {
    padding: 0 2.5em;
  }

  .rowH {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;

    margin-left: 10.8em;

    .hex {
      width: 88px;
      height: 80px;
      background: white;
      text-shadow: black 0 1.6px 1.6px;
      text-align: center;
      line-height: 80px;
      font-size: calc(80px / 2);
      transition: all .1s linear;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

      margin-left: -4em;

      &:nth-child(odd) {
        margin-top: calc(80px * -1 - 80px / 10) !important;
      }

      &:hover {
        cursor: pointer;
        scale: 1.1;
      }
    }
  }
}

.actionbutton {
  margin-top: 4%;
  margin-bottom: 5%;
}

#toggle-container {
  display: none !important;
}
