@background-dark: rgba(40, 40, 40, 1);
@background-light: rgb(185, 185, 185);
@color-dark: black;
@color-light: white;
@color-hover: lightskyblue;
@font: 'Avenir', Helvetica, Arial, sans-serif;

@font-face {
  font-family: Hexa;
  src: url(../fonts/Hexa.ttf);
}

.light-theme {
  .main-body, textarea, footer, a, .dropdown-menu-dark,
  .modal-content, main {
    background: @background-light;
    color: @color-dark;
  }
}

.dark-theme {
  .main-body, textarea, footer, a, .dropdown-menu-dark,
  .modal-content, main {
    background: @background-dark;
    color: @color-light;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s fade-in ease-in;
}

body.main-body {
  font-family: @font;
  text-align: center;

  nav ul {
    gap: 1vw;
  }

  #content-wrapper {
    //background: url(../img/background-hex.jpg);
    background: url(../img/background-universe.jpg);
    min-height: 100%;
    min-width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .settings {
    min-width: min-content;

    .dropdown-item {
      margin-top: 1vmin;
    }
  }

  h1.welcome {
    font-family: Hexa, serif;
    font-size: 4em;
    font-weight: 100;
    text-shadow: black 0 0 1em;
  }

  .header {
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    min-width: 50%;
    margin-bottom: 2em;
  }

  textarea {
    display: block;
    min-width: 740px;
    height: 740px;

    font-size: 1.8em;
    text-align: left;
    padding: 1em;
    border: none;
    resize: none;
    outline: none;

    font-family: revert;
    line-height: initial;
  }
}