@background-dark: rgba(40, 40, 40, 1);
@background-light: rgb(176, 176, 176);
@color-dark: black;
@color-light: white;
@color-hover: lightskyblue;
@font: 'Avenir', Helvetica, Arial, sans-serif;

.light-theme {
  .main-body, .textfield, footer, a, .dropdown-menu-dark,
  .modal-content {
    background: @background-light;
    color: @color-dark;
  }
}

.dark-theme {
  .main-body, .textfield, footer, a, .dropdown-menu-dark,
  .modal-content {
    background: @background-dark;
    color: @color-light;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s fade-in ease-in;
}

body.main-body {
  font-family: @font;
  text-align: center;

  h1.welcome {
    font-size: 4em;
    font-weight: 100;
    text-shadow: black 0 0 1em;
  }

  .header {
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    min-width: 50%;
    margin-bottom: 2em;
  }

  .textfield {
    display: block;
    min-width: 750px;
    height: 90%;

    font-size: 2em;
    text-align: left;
    padding: 1em;
    border: none;
    resize: none;
    outline: none;
    position: absolute;
    left: 30%;

    font-family: revert;
    line-height: initial;
  }

  footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
    padding: .5em;
  }
}