@background-dark: rgba(40, 40, 40, 1);
@background-light: rgb(176, 176, 176);
@color-dark: black;
@color-light: white;
@color-hover: lightskyblue;
@font: 'Avenir', Helvetica, Arial, sans-serif;

.light-theme {
  .main-body, .text-area, footer, a {
    background: @background-light;
    color: @color-dark;
  }
}

.dark-theme {
  .main-body, .text-area, footer, a {
    background: @background-dark;
    color: @color-light;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s fade-in ease-in;
}

body.main-body {
  font-family: @font;
  text-align: center;

  h1.welcome {
    font-size: 4em;
    font-weight: 100;
    text-shadow: black 0 0 1em;
  }

  .header {
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    min-width: 50%;
    margin-bottom: 2em;
  }

  .text-area {
    display: block;
    width: 690px;
    height: 90%;

    font-size: 2.5em;
    text-align: left;
    padding: 1em;
    border: none;
    resize: none;
    outline: none;
    position: absolute;
    left: 30%;
  }

  .links {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    gap: 5em;

    & > a {
      font-size: 2em;
      text-underline: none;
      text-shadow: black 0 0 1em;

      &:hover {
        cursor: pointer;
        color: @color-hover;
        scale: 1.1;
      }
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
    padding: .5em;
  }
}

a.back-nav {
  position: absolute;
  top: 1.5em;
  left: 2em;
  font-size: 3em;
  text-decoration: none;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  padding: 0 .4em .2em;
  background: @color-light;
  color: @color-dark;
  text-shadow: black 0 0 1em;

  &:hover {
    color: @color-hover;
  }
}