@(matrix: Vector[Vector[Char]], status: String, counter1: String, counter2: String, turn: Int)

@main("Game-Overview") {
    <section class="wrapper">
        @navBack()
        <div class="header">
            <h2 class="counter c1">🔷: @counter1</h2>
            <h1 class="status">@status</h1>
            <h2 class="counter c2">🔴: @counter2</h2>
        </div>
        @for(rowIndex <- matrix.indices by +1) {
            <div class="row">
            @for(cellIndex <- matrix(rowIndex).indices.reverse by -1) {
                <div class="hex" onclick="clickTile(this, @turn)" id="@cellIndex,@rowIndex">
                @if(matrix(rowIndex)(cellIndex).equals('X')) {
                    🔷
                } else {
                    @if(matrix(rowIndex)(cellIndex).equals('O')) {
                        🔴
                    }
                }
                </div>
            }
            </div>
        }
    </section>
}