@()

@main("Hexxagon") {
    <h1 class="display-1 p-5">Welcome to Hexxagon!</h1>

    <ul class="nav justify-content-center flex-lg-column p-5 nav-pills nav-fill">
        <li class="nav-item display-3 p-2">
            <a class="nav-link active" href="/overview">Overview</a>
        </li>
        <li class="nav-item display-3 p-2">
            <a class="nav-link" href="/overview-plain">Overview-plain</a>
        </li>
        <li class="nav-item display-3 p-2">
            <a class="nav-link" href="/status">Status</a>
        </li>
        <li class="nav-item display-3 p-2">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
}
