@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" class="dark-theme">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        @* Bootstrap *@
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

        @* Bootstrap Icons *@
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@@1.9.1/font/bootstrap-icons.css">

        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/global.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/theme.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">

        @* JQuery *@
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    </head>
    <body class="main-body h-100" onload="init()">
        <nav class="navbar navbar-expand-sm navbar-dark border-bottom pb-2 fs-4">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="@routes.Assets.versioned("images/favicon.ico")" alt="logo" class="logo" height="40" width="40" loading="eager">
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="n_bar">
                    <ul class="navbar-nav nav-fill">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                <i class="bi bi-controller m-1"></i>Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">
                                <i class="bi bi-chat-left-quote m-1"></i>About
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-list m-1"></i>More
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="/overview-plain">Game Plain</a></li>
                                <li><a class="dropdown-item" href="/status">Game Status</a></li>
                            </ul>
                        </li>
                    </ul>
                    <button class="btn btn-light ms-auto" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i class="bi bi-person"></i>
                        Login
                    </button>
                    <div class="dropdown ms-3">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </button>
                        <div class="dropdown-menu justify-content-center text-center settings" aria-labelledby="dropdownMenuButton">
                            <span>@theme()</span>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#help">
                                <i class="bi bi-question-circle-fill"></i>
                                Help
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div id="content-wrapper" class="bg-image img-responsive">
            @* And here's where we render the `Html` object containing
            * the page content. *@
            @content
        </div>

        <footer class="footer border-top">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-lg-center align-items-center">
                    <div class="col-md-5 d-flex align-items-center justify-content-lg-between">
                        <a href=https://github.com/Ostabo/Hexxagon-WA class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                            <img alt="" src="@routes.Assets.versioned("images/github.png")" height="30">
                        </a>
                        <span class="m-3">2022 Hexxagon - AIN</span>
                        <a class="text-muted small text-decoration-none" href="https://github.com/naedmi">
                            Nadine Görzen
                        </a>
                        <a class="text-muted small text-decoration-none" href="https://github.com/Ostabo">
                            Oskar Borkenhagen
                        </a>
                    </div>
                </div>
            </div>
        </footer>

            <!-- Modal Login -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <input type="text" name="username" class="form-control" id="email" placeholder="E-Mail">
                            </div>
                            <div class="mb-3">
                                <input type="text" name="username" class="form-control" id="password" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="modal-footer pt-4">
                            <button type="button" class="btn btn-primary mx-auto w-100">Login</button>
                        </div>
                        <p class="text-center">Don't have an account yet? <a href="#">Sign up</a></p>
                    </form>
                </div>
            </div>
        </div>

            <!-- Modal Help-->
        <div class="modal fade" id="help" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Help</h5>
                    </div>
                    <div class="modal-body">
                        <p class="p-4">
                            Issues fix themselves if you refresh the page.<br>
                            <strong>F5</strong> is your friend.
                        </p>
                    </div>
                    <div class="modal-footer pt-4 justify-content-center align-content-center">
                        If you have any questions, please contact us @@
                        <a href="https://github.com/Ostabo/Hexxagon-WA">
                            <img class="w-100" src="@routes.Assets.versioned("images/GitHub_Logo_White.png")" alt="Github">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
